<html>
  <head>
    <link rel="stylesheet" href="jugglelab.css" />
    <title>JuggleLab - {{ page.title }}</title>
  </head>
  <body>
    <div id="main">
      <div id="header">
        <ul id="nav">
          <li><a href="index.html">Home</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="history.html">History</a></li>
          <li><a href="links.html">Links</a></li>
        </ul>
      </div>
      <div id="content">
        {{ content }}
      </div>
    </div>
  </body>
</html>
